<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.lms.mapper.ProductManageMapper">

	<select id="selectVideoList" resultType="VideoListDTO">
		SELECT A.G_KEY, A.NAME as GOODS_NANE, A.INDATE, A.IS_SHOW, A.IS_SELL, A.IS_FREE, D.NAME as TEACHER_NAME, E.STATUS
		FROM T_GOODS A LEFT JOIN T_GOODS_TEACHER_LINK B
		ON A.G_KEY = B.G_KEY
		LEFT JOIN T_TEACHER C
		ON B.TEACHER_KEY = C.TEACHER_KEY
		LEFT JOIN T_USER D
		ON C.USER_KEY = D.USER_KEY
		LEFT JOIN T_LEC E
		ON A.G_KEY = E.G_KEY
		WHERE 1=1
		AND A.TYPE = 1
		ORDER BY A.G_KEY DESC
		<if test="searchType eq 'code'">
			AND A.G_KEY = #{searchText}
		</if>
		<if test="searchType eq 'title'">
			AND A.NAME LIKE '%'||#{searchText}||'%'
		</if>
		ORDER BY A.G_KEY DESC
		OFFSET #{startNumber} ROWS FETCH NEXT #{listLimitNumber} ROWS ONLY
	</select>

	<select id="selectTGoodsInfo" parameterType="Integer" resultType="com.zianedu.lms.vo.TGoodsVO">
		SELECT * FROM T_GOODS WHERE G_KEY = #{gKey}
	</select>

	<select id="selectTGoodsPriceOptionList" resultType="com.zianedu.lms.vo.TGoodsPriceOptionVO">
		SELECT * FROM T_GOODS_PRICE_OPTION WHERE G_KEY = #{gKey}
	</select>

	<select id="selectTCategoryGoodsList" parameterType="Integer" resultType="com.zianedu.lms.vo.TCategoryGoods">
		SELECT * FROM T_CATEGORY_GOODS WHERE G_KEY = #{gKey}
	</select>

	<select id="selectTLecInfo" parameterType="Integer" resultType="com.zianedu.lms.vo.TLecVO">
		SELECT * FROM T_LEC WHERE G_KEY = #{gKey}
	</select>

	<select id="selectTeacherListByTeacherLink" parameterType="Integer" resultType="com.zianedu.lms.vo.TGoodTeacherLinkVO">
		SELECT A.*, B.name as subject_name, D.name as teacher_name
		FROM T_GOODS_TEACHER_LINK A
		LEFT JOIN T_CATEGORY B
		ON A.SUBJECT_CTG_KEY = B.CTG_KEY
		LEFT JOIN T_TEACHER C
		ON C.TEACHER_KEY = A.TEACHER_KEY
		INNER JOIN T_USER D
		ON D.USER_KEY = C.USER_KEY
		WHERE A.G_KEY = #{gKey}
	</select>

	<select id="selectTGoodsFromTLinkKeyRel" resultType="com.zianedu.lms.vo.TLinkKeyVO">
		SELECT A.*, B.name as goods_name
		FROM T_LINK_KEY A INNER JOIN T_GOODS B
		ON A.res_key = B.g_key
		WHERE A.req_key = #{reqKey}
		<if test="resType > 0 and resType != null">
			AND A.res_type = #{resType}
		</if>
	</select>

	<select id="selectTExamMasterFromTLinkKeyRel" resultType="com.zianedu.lms.vo.TLinkKeyVO">
		SELECT A.*, B.name as goods_name
		FROM T_LINK_KEY A INNER JOIN T_EXAM_MASTER B
		ON A.res_key = B.exam_key
		WHERE A.req_key = #{reqKey}
		<if test="resType > 0 and resType != null">
			AND A.res_type = #{resType}
		</if>
	</select>

	<select id="selectTLecCurriList" parameterType="Integer" resultType="com.zianedu.lms.vo.TLecCurri">
		SELECT * FROM T_LEC_CURRI WHERE LEC_KEY = #{lecKey} ORDER BY POS ASC
	</select>

	<select id="selectTLinkKeyList" parameterType="Integer" resultType="com.zianedu.lms.vo.TLinkKeyVO">
		SELECT * FROM T_LINK_KEY WHERE req_key = #{reqKey}
	</select>

	<insert id="insertTGoods" parameterType="com.zianedu.lms.vo.TGoodsVO">
		INSERT INTO T_GOODS
		(
			G_KEY, C_KEY, CP_KEY, NAME, INDATE, SELLSTARTDATE, TYPE, IS_SHOW, IS_SELL, IS_FREE, IS_NODC, IMAGE_LIST, IMAGE_VIEW,
			EMPHASIS, TAGS, SUMMARY, DESCRIPTION, CALCULATE_RATE, IS_FREEBIE_DELIVERY_FREE, IS_QUICK_DELIVERY, GOODS_ID
		)
		VALUES
		(
			T_GOODS_SEQ.NEXTVAL, #{cKey}, #{cpKey}, #{name}, #{indate}, #{sellstartdate}, #{type}, #{isShow}, #{isSell}, #{isFree}, #{isNodc}, #{imageList}, #{imageView},
			#{emphasis}, #{tags}, #{summary}, #{description}, #{calculateRate}, #{isFreebieDeliveryFree}, #{isQuickDelivery}, #{goodsId}
		)
		<selectKey resultType="Integer" keyProperty="gKey" order="BEFORE">
			SELECT T_GOODS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertTGoodsPriceOption" parameterType="com.zianedu.lms.vo.TGoodsPriceOptionVO">
		INSERT INTO T_GOODS_PRICE_OPTION
		(
			PRICE_KEY, G_KEY, KIND, CTG_KEY, NAME, PRICE, SELL_PRICE, POINT, EXTEND_PERCENT
		)
		VALUES
		(
			T_GOODS_PRICE_OPTION_SEQ.nextval, #{gKey}, #{kind}, #{ctgKey}, #{name}, #{price}, #{sellPrice}, #{point}, #{extendPercent}
		)
		<selectKey resultType="Integer" keyProperty="priceKey" order="BEFORE">
			SELECT T_GOODS_PRICE_OPTION_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	</insert>


</mapper>
