<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.lms.mapper.SelectboxMapper">

	<select id="selectSubDomainList" resultType="com.zianedu.lms.vo.TSiteVO">
		SELECT * FROM T_SITE
		ORDER BY S_KEY ASC
	</select>

	<select id="selectTCategoryByParentKey" resultType="com.zianedu.lms.vo.TCategoryVO">
		SELECT * FROM T_CATEGORY WHERE PARENT_KEY = #{parentKey}
	</select>

	<select id="selectDeliveryCompanyList" resultType="com.zianedu.lms.vo.DeliveryVO">
		SELECT A.DELIVERY_MASTER_KEY, A.NAME
		FROM T_DELIVERY_MASTER A
		INNER JOIN T_DELIVERY B
		ON A.DELIVERY_MASTER_KEY = B.DELIVERY_MASTER_KEY
		WHERE B.IS_USE = 1
	</select>


</mapper>
