<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.lms.mapper.StatisManageMapper">


    <select id="selectTotalStatisAtMonth" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(INDATE, 'YYYY-MM') as DAY,
            SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
               distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND A.PAY_STATUS = 2
            AND A.PAY_TYPE != 20
            <if test="goodsType > 0">
                AND B.TYPE = #{goodsType}
            </if>
        )
        WHERE TO_CHAR(INDATE, 'YYYY') = #{year}
        GROUP BY TO_CHAR(INDATE, 'YYYY-MM')
        ORDER BY DAY ASC
    </select>

    <select id="selectTotalStatisAtYear" resultType="StatisResultDTO">
       SELECT
            TO_CHAR(INDATE, 'YYYY') as DAY,
            SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
               distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND A.PAY_STATUS = 2
            AND A.PAY_TYPE != 20
            <if test="goodsType > 0">
                AND B.TYPE = #{goodsType}
            </if>

        )
        GROUP BY TO_CHAR(INDATE, 'YYYY')
        ORDER BY DAY ASC
    </select>

    <select id="selectTotalStatisAtYearDay" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(INDATE, 'YYYY-MM-DD') as DAY,
            SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
               distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND A.PAY_STATUS = 2
            AND A.PAY_TYPE != 20
            <if test="goodsType > 0">
                AND B.TYPE = #{goodsType}
            </if>
        )
        WHERE TO_CHAR(INDATE, 'YYYY-MM') = #{month}
        GROUP BY TO_CHAR(INDATE, 'YYYY-MM-DD')
        ORDER BY DAY ASC
    </select>

    <select id="selectPackageStatisByMonth" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(INDATE, 'YYYY-MM') as DAY,
            SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
               distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE, B.PM_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND B.TYPE = 5
            <if test="pmType > 0">
                AND B.PM_TYPE = #{pmType}
            </if>
            AND A.PAY_STATUS = 2
            AND A.PAY_TYPE != 20
        )
        WHERE TO_CHAR(INDATE, 'YYYY') = #{year}
        GROUP BY TO_CHAR(INDATE, 'YYYY-MM')
        ORDER BY DAY ASC
    </select>

    <select id="selectPackageStatisByYear" resultType="StatisResultDTO">
        SELECT
        TO_CHAR(INDATE, 'YYYY') as DAY,
        SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
            distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE, B.PM_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND B.TYPE = 5
            <if test="pmType > 0">
                AND B.PM_TYPE = #{pmType}
            </if>
            AND A.PAY_STATUS = 2
            AND A.PAY_TYPE != 20
        )
        GROUP BY TO_CHAR(INDATE, 'YYYY')
        ORDER BY DAY ASC
    </select>

    <select id="selectPackageStatisByDay" resultType="StatisResultDTO">
        SELECT
        TO_CHAR(INDATE, 'YYYY-MM-DD') as DAY,
        SUM(PRICE_PAY) as PRICE
        FROM
        (
            SELECT
            distinct A.J_KEY, A.PRICE_PAY, A.INDATE, B.TYPE, A.PAY_STATUS, A.PAY_TYPE, B.PM_TYPE
            FROM T_ORDER A
            INNER JOIN T_ORDER_GOODS B
            ON A.J_KEY = B.J_KEY
            WHERE 1=1
            AND B.TYPE = 5
            <if test="pmType > 0">
                AND B.PM_TYPE = #{pmType}
            </if>
        AND A.PAY_STATUS = 2
        AND A.PAY_TYPE != 20
        )
        WHERE TO_CHAR(INDATE, 'YYYY-MM') = #{month}
        GROUP BY TO_CHAR(INDATE, 'YYYY-MM-DD')
        ORDER BY DAY ASC
    </select>

    <select id="selectMemberRegStatisByMonth" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(A.INDATE, 'YYYY-MM') as DAY,
            COUNT(A.USER_KEY) as USER_COUNT
        FROM T_USER A
        WHERE 1=1
        AND A.AUTHORITY IN (10, 19)
        AND TO_CHAR(A.INDATE, 'YYYY') = #{year}
        GROUP BY TO_CHAR(A.INDATE, 'YYYY-MM')
        ORDER BY DAY ASC
    </select>

    <select id="selectMemberRegStatisByYear" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(A.INDATE, 'YYYY') as DAY,
            COUNT(A.USER_KEY) as USER_COUNT
        FROM T_USER A
        WHERE 1=1
        AND A.AUTHORITY IN (10, 19)
        GROUP BY TO_CHAR(A.INDATE, 'YYYY')
        ORDER BY DAY ASC
    </select>

    <select id="selectMemberRegStatisByDay" resultType="StatisResultDTO">
        SELECT
            TO_CHAR(A.INDATE, 'YYYY-MM-DD') as DAY,
            COUNT(A.USER_KEY) as USER_COUNT
        FROM T_USER A
        WHERE 1=1
        AND A.AUTHORITY IN (10, 19)
        AND TO_CHAR(INDATE, 'YYYY-MM') = #{month}
        GROUP BY TO_CHAR(A.INDATE, 'YYYY-MM-DD')
        ORDER BY DAY ASC
    </select>

    <select id="selectTeacherStatisByMonth" resultType="TeacherCalculateDTO">
        SELECT
            C.G_KEY, B.KIND, C.NAME,
            COUNT (DECODE(B.PAY_STATUS, 2, 1)) PAY_CNT,
            SUM (DECODE(B.PAY_STATUS, 2, B.CALC_PRICE, 0)) PAY_PRICE,
            COUNT (DECODE(B.PAY_STATUS, 8, 1)) CANCEL_CNT,
            SUM (DECODE(B.PAY_STATUS, 8, B.CALC_PRICE, 0)) CANCEL_PRICE
        FROM T_CALCULATE A
        RIGHT JOIN T_CALCULATE_DATA B
        ON A.CALCULATE_KEY = B.CALCULATE_KEY
        INNER JOIN T_GOODS C
        ON B.G_KEY = C.G_KEY
        WHERE A.TEACHER_KEY = #{teacherKey}
        AND B.TYPE = #{goodsType}
        AND A.YEAR_MONTH = #{month}
        GROUP BY C.G_KEY, B.KIND, C.NAME
        ORDER BY C.G_KEY ASC
    </select>

    <select id="selectTeacherStatisBySection" resultType="TeacherCalculateDTO">
        SELECT
            C.G_KEY, B.KIND, C.NAME,
            COUNT (DECODE(B.PAY_STATUS, 2, 1)) PAY_CNT,
            SUM (DECODE(B.PAY_STATUS, 2, B.CALC_PRICE, 0)) PAY_PRICE,
            COUNT (DECODE(B.PAY_STATUS, 8, 1)) CANCEL_CNT,
            SUM (DECODE(B.PAY_STATUS, 8, B.CALC_PRICE, 0)) CANCEL_PRICE
        FROM T_CALCULATE A
        RIGHT JOIN T_CALCULATE_DATA B
        ON A.CALCULATE_KEY = B.CALCULATE_KEY
        INNER JOIN T_GOODS C
        ON B.G_KEY = C.G_KEY
        WHERE A.TEACHER_KEY = #{teacherKey}
        AND B.TYPE = #{goodsType}
        <![CDATA[
            AND TO_CHAR(B.INDATE, 'YYYY-MM-DD') >= TO_DATE(#{searchStartDate}, 'YYYY-MM-DD')
        ]]>
        <![CDATA[
            AND TO_CHAR(B.INDATE, 'YYYY-MM-DD') <= TO_DATE(#{searchEndDate}, 'YYYY-MM-DD') + 1
        ]]>
        GROUP BY C.G_KEY, B.KIND, C.NAME
        ORDER BY C.G_KEY ASC
    </select>

    <select id="selectTCalculateOptionList" resultType="com.zianedu.lms.vo.TCalculateOptionVO">
        SELECT * FROM T_CALCULATE_OPTION
        WHERE TEACHER_KEY = #{teacherKey}
        AND TARGET_DATE = #{targetDate}
    </select>

    <insert id="insertTCalculateOption" parameterType="com.zianedu.lms.vo.TCalculateOptionVO">
        <selectKey resultType="Integer" keyProperty="calculateOptionKey" order="BEFORE">
            SELECT T_CALCULATE_OPTION_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO T_CALCULATE_OPTION
        (
          CALCULATE_OPTION_KEY, TEACHER_KEY, TARGET_DATE, TITLE, PRICE
        )
        VALUES
        (
          #{calculateOptionKey}, #{teacherKey}, #{targetDate}, #{title}, #{price}
        )
    </insert>

</mapper>
