<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zianedu.lms.mapper.UserMapper">

	<select id="getUserInfo" resultType="com.zianedu.lms.vo.TUserVO">
		SELECT A.*, B.TEACHER_KEY
		FROM T_USER A
		LEFT OUTER JOIN  T_TEACHER B
		ON A.USER_KEY = B.USER_KEY
		WHERE A.USER_ID = #{userId}
		AND A.USER_PWD = #{userPass}
	</select>

	<select id="getUserInfoByUserKey" resultType="com.zianedu.lms.vo.TUserVO">
		SELECT A.*, B.TEACHER_KEY
		FROM T_USER A
		INNER JOIN T_TEACHER B
		ON A.USER_KEY = B.USER_KEY
		WHERE USER_KEY = #{userKey}
	</select>

	<select id="getUserList" resultType="com.zianedu.lms.vo.TUserVO">
		SELECT USER_KEY, PWD FROM T_USER
	</select>

	<update id="updateUserPwd">
		UPDATE T_USER
		SET USER_PWD = #{userPwd}
		WHERE USER_KEY = #{userKey}
	</update>

	<select id="selectAlgisaUser" resultType="HashMap">
		SELECT USER_ID, USER_PWD FROM TB_MA_MEMBER
	</select>

</mapper>
